{% for festival in festivals %}
    <h2>{{ festival.nume }}</h2>
    <ul>
        {% for festivalArtist in festival.festivalArtists %}
            <li>{{ festivalArtist.artist.nume}} – {{ festivalArtist.artist.genMuzical }}</li>
        {% else %}
            <li>No artist found.</li>
        {% endfor %}
    </ul>
{% else %}
    <p>The festivals does not exist</p>
{% endfor %}
