{% block stylesheets %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <style>
        .body{
            background-image: url("https://i.pinimg.com/736x/c6/f6/91/c6f691da74c3b637435b1e14099edc49.jpg");
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            min-height:  100vh;
        }
        .title{
            padding-top: 5rem;
            font-family: 'Quicksand', sans-serif;
            font-weight: bold !important;
            text-align: center;
            vertical-align: center;

        }

    </style>
{% endblock %}

<body class="body">
<h1 class="title">Lineup</h1>

<ul>
    {% for artist in artists %}
    <ul style="list-style-type:none;">
        <li>
            <a href="{{ path('app_artist_show', {id: artist.id}) }}">
                {{ artist.nume }}
            </a>
        </li>
    </ul>
    {% else %}
        <li>No artist found</li>
    {% endfor %}
</ul>
{% if is_granted('ROLE_ADMIN') %}
<button type="button" class="btn-primary" onclick="window.location.href='{{ path('app_artist_add_new') }}'">Add artist</button>
{% endif %}
</body>
