{% extends 'base.html.twig' %}

{% block body %}

    <div class="bi-search">
        <h1>Search Results for "{{ query }}"</h1>
                <h2>Festival</h2>
                <ul>
                    {% for festival in results.festivals %}
                        <li>{{ festival.nume }}</li>
                    {% endfor %}
                </ul>
            {% endif %}




    </div>
{% endblock %}
