{% extends 'base.html.twig' %}

 {% block stylesheets %}

     <link rel="stylesheet" href="/public/styles.css">

 {% endblock %}

{% block body %}

<h1>Festival List</h1>

{% if festivals is not empty %}
<table style="width:100%; border-collapse: collapse;">
    <ul style="list-style-type:none;">

        {% for festival in festivals %}
            <li>
                <a href="{{ path('app_festival_show', {id: festival.id}) }}">
                    {{ festival.nume }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}

    <p>No festival found</p>
{% endif %}

    <button type="button" class="button2" onclick="window.location.href='{{ path('app_festival_add_new') }}'">Add festival</button>
{% endblock %}






